@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    position: relative;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-image: url("./asset/bg-image.jpg");
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  color: white;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  min-height: 8vh;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 40%;
}

.headline {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn-headline {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.section-todo {
  text-align: center;
  margin-top: 5rem;
}

.form-todo {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-todo input {
  min-height: 100%;
}

.form-todo input[type="text"] {
  width: 78%;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.8rem;
}

.form-todo input[type="submit"] {
  width: 20%;
  background: rgb(44, 55, 63);
  color: white;
  font-weight: bold;
}

.todo-list {
  text-align: left;
  font-size: 1.2rem;
  list-style-type: none;
  margin-bottom: 3.5rem;;
}

.todo-list li {
  padding: 0.7rem;
  background: #444;
  color: white;
  margin-top: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}

.todo-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* footer is this */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    max-height: 10vh;
    /* position: absolute; */
    bottom: 0;
}


@media (max-width: 479px) {
  .header {
    min-height: 40vh;
  }
  .nav {
    justify-content: space-between;
    min-height: 6vh;
  }

  .nav-items {
    /* display: flex; */
    justify-content: space-evenly;
  }
  .nav-item:nth-child(3) {
    display: none;
  }
  .todo-list li {
    flex-direction: column;
    text-align: center;
  }
  
}
